<h1>Steam Mini</h1>


{% if request.user.is_authenticated %}

<p>
Привет, {{ request.user.username }}!

<a href="{% url 'logout' %}">Выйти</a>


<a href="{% url 'library' %}">Моя библиотека</a>

</p>

{% else %}

<a href="{% url 'login' %}">Войти</a>

|

<a href="{% url 'register' %}">Регистрация</a>

{% endif %}


<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Введите игру">

    <button type="submit">
        Найти
    </button>

</form>

<hr>


<div style="margin-bottom: 15px;">
    <a href="?sort=price_asc">Дешевые</a> | 
    <a href="?sort=price_desc">Дорогие</a> | 
    <a href="?sort=date">Новые</a>
</div>

<hr> 

<div style="margin-top: 15px;">
    {% for game in games %}
    <a href="{% url 'game_detail' game.id %}">
        {{ game.name }}
    </a>
    <br>
    {% endfor %}
</div>


{% if search and not games %}

    <h2>
        Игра не найдена 😔
    </h2>

    <p>
        Попробуйте изменить запрос
    </p>

{% endif %}