{% extends "store/base.html" %}


{% block content %}


<h2>
    {{ game.name }}
</h2>


<p>
    Жанр:
    {{ game.genre }}
</p>


<p>
    Описание:
    {{ game.description }}
</p>


<p>
    Цена:
    {{ game.price }} ₽
</p>


<p>
    Дата выхода:
    {{ game.release_date }}
</p>

{% if owned %}

    <p>
        ✅ Игра уже куплена
    </p>


{% else %}

    <a href="{% url 'buy_game' game.id %}">
        Купить игру
    </a>


{% endif %}

<hr>

<h3>Отзывы</h3>

{% if reviews %}

    {% for review in reviews %}

        <div style="margin-bottom:15px;">

            <strong>{{ review.user.username }}</strong>

            <br>

            ⭐ {{ review.rating }}/5

            <br>

            {{ review.comment }}

        </div>

    {% endfor %}

{% else %}

    <p>Пока отзывов нет.</p>

{% endif %}

{% if can_review %}

<hr>

<h3>Оставить отзыв</h3>

<form method="POST">

    {% csrf_token %}

    {% if form.errors %}
        <div style="color:red;">
            {{ form.errors }}
        </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit">
        Отправить
    </button>

</form>

{% endif %}

{% endblock %}