{% extends "store/base.html" %}


{% block content %}


<h2>Каталог игр</h2>


<form method="GET">

    <input 
        type="text" 
        name="search" 
        placeholder="Введите игру"
    >

    <button type="submit">
        Найти
    </button>

</form>


<hr>


<div style="margin-bottom: 15px;">

    <a href="?sort=price_asc">
        Дешевые
    </a>

    |

    <a href="?sort=price_desc">
        Дорогие
    </a>

    |

    <a href="?sort=date">
        Новые
    </a>

</div>


<hr>


{% if search and not games %}

    <h2>
        Игра "{{ search }}" не найдена 😔
    </h2>

    <p>
        Попробуйте изменить запрос
    </p>


{% else %}


    {% for game in games %}

        <div style="margin-bottom: 10px;">

            <a href="{% url 'game_detail' game.id %}">
                {{ game.name }}
            </a>

            <br>

            Цена:
            {{ game.price }} ₽

        </div>


    {% endfor %}


{% endif %}


{% endblock %}